
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --header-color: #212121;
  --first-title-color: #212121;
  --second-title-color: #2196f3;
  --first-btn-color: #ffffff;
  --second-btn-color: #2196f3;
  --accent-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  margin: 0 auto;
}

.header-list,
.about-list,
.work-list,
.clients-list,
.footer-soc-list,
.team-list,
.team-soc-list,
.address-list,
.section-list,
.project-list {
  list-style: none;
}

.header-logo,
.header-link,
.team-soc-link,
.clients-link,
.footer-logo,
.header-mail,
.header-tel,
.address-mail,
.address-tel,
.work-link {
  text-decoration: none;
}

/*--------HEADER-------*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.header {
  display: block;

  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
  margin-left: auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-logo {
  margin-right: 93px;
}

.header-tel {
  margin-left: 0 auto;
}

.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current {
  position: relative;
  color: var(--accent-color);
}

.header-link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header-list {
  display: flex;
  align-items: baseline;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
}

.header-list :hover,
.header-list :focus {
  color: #2196f3;
}

.header-item :hover,
.header-item :focus {
  color: #2196f3;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel + .header-mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  align-items: baseline;
  justify-content: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item :hover {
  color: #2196f3;
}

.header-item :focus {
  color: #2196f3;
}

.header-icon :hover {
  fill: #2196f3;
}

.header-icon :focus {
  fill: #2196f3;
}

/*--------HERO-------*/

.hero {
  content: "";
  background-color: #2f303a;
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}

.hero-title {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  display: block;

  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  margin: 0 auto;
  display: block;
}

/*--------ABOUT-------*/

.about-list {
  display: flex;
}

.feauture-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.icon {
  width: 70px;
  height: 70px;
}

.about-item + .about-item {
  margin-left: 30px;
}

.about-item {
  width: calc (100% / 3 - 30px);
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.text {
  min-width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*--------WORK-------*/

.work {
  padding-top: 0;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}

.work-item + .work-item {
  margin-left: 30px;
}

.work-item {
  width: calc (100% / 3 - 30px);
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.label {
  position: relative;
}

.label-title {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  padding: 27px;
  text-align: center;
  margin-bottom: 0;
}

/*--------TEAM-------*/

.team-img {
  display: block;
  width: 270px;
  background: #ffffff;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-item {
  width: calc (100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30 px;
}

.team-item {
  width: 270px;
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-name {
  margin-bottom: 10px;
  background: #ffffff;
}

.team :last-child {
  margin-bottom: 0;
}

.team-workers {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.text-team {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  background: #ffffff;
}

.text-team:last-child {
  margin-bottom: 0;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-item {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  width: 20px;
  height: 20px;
  color: #afb1b8;
}

.team-soc-link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.team-soc-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

/*--------ClIENTS-------*/

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list .list {
  justify-content: center;
  align-items: center;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #afb1b8;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: #2196f3;
}

.clients-link:hover {
  color: #2196f3;
}

.clients-link:focus {
  color: #2196f3;
}

.clients-icon:hover,
.clients-icon:focus {
  fill: #2196f3;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/*--------FOOTER-------*/

.footer {
  display: block;
  padding: 60px 0;
  background: #2f303a;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-bottom: 20px;
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.address-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.text-address {
  margin-bottom: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-mail,
.address-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-item {
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.footer-invite {
  display: block;
  margin-left: 70px;
}

.text-invite {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:hover {
  background-color: #2196f3;
}

.footer-soc-link:focus {
  background-color: #2196f3;
}

/*--------PORTFOLIO-------*/

/*--------SECTION-------*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-btn:hover,
.section-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--first-btn-color);
  background-color: var(--accent-color);
}

.section-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border: 0;
}

.section-list .li + .li {
  margin-left: 8px;
  border: 0;
}

.section-btn {
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.description {
  position: relative;
  overflow: hidden;
}

.description-text {
  position: absolute;
  height: 101%;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-item:hover .description-text {
  transform: translateY(0);
}

.section-item:focus .description-text {
  transform: translateY(0);
}

.work-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover,
.work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-item {
  margin-left: 30px;
  margin-top: 30px;
}

.section-item {
  display: block;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-nav .item {
  width: calc (100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30 px;
}

.border {
  border-top: none;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.section-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top: none;
}

.section-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(0) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(360deg) translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms;
}

.modal-close {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
